In [1]:
import sys
sys.path.append('../')
import pandas as pd
import numpy as np
import pickle
import torch
from lib.rmodel import Dataset, BertClassifier, train, predict, evaluate

In [2]:
datapath = f'../while_waiting_for_store.csv'
df = pd.read_csv(datapath)
df=df[df.columns[2:]]
df.head()

,title,selftext,full_link,num_comments,score,retrieved_on,relevance
0,Best papers,TLDR: What papers in your sub field do you thi...,https://www.reddit.com/r/datascience/comments/...,0,1,1650307487,-1
1,I Need Help With My Honors Chemistry Project D...,# Hi so in my Honors Chem Project I measured t...,https://www.reddit.com/r/datascience/comments/...,0,1,1650310497,-1
2,Ubiquant Market Prediction EDA - Complete Sour...,NaN,https://www.reddit.com/r/datascience/comments/...,0,1,1650310673,-1
3,Hello Everyone! Im usuing the ARIMA Model to d...,NaN,https://www.reddit.com/r/datascience/comments/...,0,1,1650312837,-1
4,Can an Economics graduate be a Data Scientist?,The previous post was deleted due to insuffici...,https://www.reddit.com/r/datascience/comments/...,0,1,1650313913,-1

In [3]:
df = df.fillna(value=str(''))
df['text'] = df['title'] + '  ' + df['selftext']
df['text'] = df['text'].fillna(value='').astype(str)
df_clean = df[df.relevance!=-1]

In [23]:
df_good = df_clean[df_clean['relevance']==1]
df_bad  = df_clean[df_clean['relevance']==0]
n = min(len(df_good), len(df_bad))

In [28]:
df_clean = pd.concat([df_good.sample(n), df_bad.sample(n)])
df_clean.describe()

       num_comments      score  retrieved_on  relevance
count     12.000000  12.000000  1.200000e+01  12.000000
mean       9.833333   0.916667  1.602630e+09   0.500000
std       22.902296   0.288675  2.968302e+07   0.522233
min        0.000000   0.000000  1.561590e+09   0.000000
25%        0.750000   1.000000  1.582479e+09   0.000000
50%        1.000000   1.000000  1.596810e+09   0.500000
75%        7.000000   1.000000  1.627892e+09   1.000000
max       81.000000   1.000000  1.648220e+09   1.000000

In [29]:
np.random.seed(112)
df_train, df_val, df_test = np.split(df_clean.sample(frac=1, random_state=42), 
                                     [int(.8*len(df_clean)), int(.9*len(df_clean))])

print(len(df_train),len(df_val), len(df_test))

9 1 2

In [30]:
EPOCHS = 2
model = BertClassifier()
LR = 1e-6
              
train(model, df_train, df_val, LR, EPOCHS)

Some weights of the model checkpoint at bert-base-cased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.weight', 'cls.predictions.decoder.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:06<00:00,  1.35s/it]

Epochs: 1 | Train Loss:  0.403 | Train Accuracy:  0.556 | Val Loss:  0.929 | Val Accuracy:  0.000

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:06<00:00,  1.31s/it]

Epochs: 2 | Train Loss:  0.375 | Train Accuracy:  0.556 | Val Loss:  0.940 | Val Accuracy:  0.000

In [31]:
evaluate(model, df_test)

Test Accuracy:  0.500

In [32]:
torch.save(model, '../model/bert.torch')